{% extends 'base.html' %}

{% block content %}


<body style="font-family: 'Montserrat', sans-serif; background-color: #87CEEB">

<nav class="navbar" style="background-color: #4682B4; position:sticky; top:0;z-index:100;">
    <div class="container-fluid">
        <center>
            <h1>Давайте пройдем регистрацию</h1>
        </center>
    </div>

</nav>

    <center>
        <form action="/reg" method="post" id="login-form">

        {% csrf_token %}
        <table>
            <tr><th>Регистрация</th></tr>
            <tr>
                <td><label>Login:</label></td>
                <td><input type="text" name="username" autofocus autocapitalize="none"
                           autocomplete="username" maxlength="150" required id="id_username"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="password" name="password" autocomplete="current-password" required id="id_password"></td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td><input type="text" name="first_name"  maxlength="128"></td>
            </tr>
            <tr>
                <td><label>Surname</label></td>
                <td><input type="text" name="last_name"  maxlength="128"></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="email" name="email"></td>
            </tr>

            <tr>
                <td>
                    <a class="navbar-brand; btn btn-dark" href="/"> Главная </a>
                </td>
                <td><input type="submit" onclick = "window.location.href ='login/';"
                           class="btn btn-dark" value="Зарегистрироваться"></td>
            </tr>
        </table>
        </form>
    </center>

</body>

{% endblock %}